* {
  border: dashed red 1px;
}

p {
  margin: 0px;
}

.backgroundColor {
  background-color: green;
}

.cardTemplate {
  margin: auto;
  margin-top: 100px;
  background-color: white;
  width: 350px;
  height: 500px;
  border-radius: 1%;
}

.topSuit {
  padding-left: 10px;
  padding-top: 10px;
  height: 60px;
}

.bottomSuit {
}

.suitAppeared {
  font-size: 50px;
  margin: 0px;
}

.suitAppeared2 {
  font-size: 50px;
  margin: 0px;
  display: flex;
  justify-content: end;
  padding-right: 10px;
  padding-bottom: 10px;
}

.numberAppeared {
  font-size: 120px;
  text-align: center;
  padding-top: 105px;
  padding-bottom: 105px;
}
